# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*

# node_modules (caso adicione build depois)
node_modules/

# Zip gerado localmente
*.zip